services:
  nginx:
    image: nginx:latest           # Usamos la última versión oficial de Nginx
    container_name: nginx_proxy   # Nombre fijo para identificarlo fácil
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro # Mapea conf en modo Solo Lectura
      - ./cache:/var/cache/nginx  # Carpeta física para guardar la Caché L1
    ports:
      - "80:80"                   # Único puerto abierto al exterior (Seguridad)
    depends_on:
      - api                       # No arranca hasta que la API esté lista
    networks:
      - practica_red              # Conexión a la red privada interna

  api:
    build: ./api                  # Crea la imagen desde la carpeta /api
    container_name: flask_api
    environment:
      - REDIS_HOST=redis          # Pasa el nombre del contenedor Redis como variable
    networks:
      - practica_red              # Solo accesible desde dentro de la red
    depends_on:
      - redis

  redis:
    image: redis:alpine           # Versión ligera de Redis para ahorrar RAM
    container_name: redis_cache
    networks:
      - practica_red

networks:
  practica_red:                   # Definición de la red aislada
    driver: bridge